@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76c1ff;
}

.form-header {
    margin: 2rem 0rem;
}

.form-header h1::after {
    content: '';
    display: flex;
    width: 2rem;
    height: 0.3rem;
    background-color: #76c1ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;
}
    .form {
    padding: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.form-header {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.login-button button {
    width: 100%;
    margin-top: 0.4rem;
    border: none;
    background-color: #76c1ff;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.login-button button:hover {
    background-color: #5cb5fd;
}

.create-account button {
    width: 100%;
    margin-top: 0.4rem;
    border: none;
    background-color: #76c1ff;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.forget-password button {
    width: 100%;
    margin-top: 0.4rem;
    border: none;
    background-color: #76c1ff;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 2.4rem;
    height: 0.2rem;
    background-color: #76c1ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
 
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    
}

.input-box input {
    outline: none;
    padding-left: 10px;
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #76c1ff;
}

.input-box label, h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
    margin-bottom: 0.5rem;

}


    @media screen and (max-width: 1024px) {
        .form-image {
            display: none;
        }
        .title {
            width: 90%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .form {
            width: 100%;
        }
    
    @media screen and (max-width: 580px) {
        .input-box{
            width: 100%;
            justify-content: center;
            align-items: center; 
            flex-direction: row;
            display: grid;
            
    }
    .input-box input {
        width: 40vh;
    }

        }
    }